/* 아이폰8플러스 */
@media only screen and (min-width: 376px) and (max-width: 767px) {
    #mobileHeader {
        padding: 0;
        margin: 0;
        background-color: #E5E4E0;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        width: 100%;
        height: 100px;
    }
    
    .dropdown1, .dropdown2, .dropdown3, .dropdown4, .dropdown5, .dropdown6, .dropdown7, .dropdown8, .dropdown9, #left-menu, #footer, .proFooter, .container {
        display: none;
    }
    .logo {
        position: fixed;
        cursor: pointer;
        margin-top: -2%;
        margin-left: 12%;
        /* width="225" height="25" */
    }
    .logo img {
        width: 225px;
        height: 25px;
    }
    #menu_btn {
        position: fixed;
        padding-left: 7%;
        margin-top: -5%;
        cursor: pointer;
    }
    #close_btn {
        position: absolute;
        padding-left: 62%;
        margin-top: -35px;
        cursor: pointer;
        display: none;
    }
    #search_icon {
        cursor: pointer;
        margin-top: 15px;
        margin-left: 10px;

    }
    nav {
        position: absolute;
        top: 0px;
        height: 830px;
        width: 290px;
        background: white;
        transform: translateX(-100%);
        background-attachment: fixed;
    }
    #statelogoff li {
        list-style: none;
        float: left;
        margin-left: 10px;
        font-size: 12.8px;
        font-weight: 400;
    }
    #statelogoff {
        margin-top: -15%;
        margin-left: 30%;
    }

    #store_menu li {
        list-style: none;
        font-weight: 600;
        border-bottom: 1px solid #111;
        width: 240px;
        line-height: 21px;
        padding: 12px 0;
        margin-left: -7%;
        
    }
    .category-blue {
        color: #154182;
    }
   

    #store_menu {
        padding-top: 4%;
    }
    
    #cart_icon {
        position: fixed;
        margin-left: 87%;
        margin-top: -4%;
        cursor: pointer;
        width: 24px;
        height: 24px;
        color: #111;
    } 
    .player iframe{
        width: 370px;
        height: 210px;
        padding-top: 10%;
        padding-left: 23px;
    }
    .images1 img, .images2 img, .images3 img, .images4 img, .images6 img, .images7 img, .images8 img, .images9 img, .images10 img, .images11 img, .images12 img {
        width: 123px;
        height: 123px;
        /* padding-left: 15px; */
        cursor: pointer;
        /* padding: 10px; */
        padding-left: 10px;
        padding-bottom: 40px;
    }
    .images4 img:last-child {
        padding-bottom: 30px;
    }
    .images1 img {
        padding-top: 30px;
    }
    .images3>.img9, .images4 img {
        width: 123px;
        height: 177px;
    }
    .images5 img {
        cursor: pointer;
        width: 400px;
        padding-left: 7px;
        padding-bottom: 30px;
    }
    
    .footerTop1 li, .footerTop2 li {
          list-style: none;
          float: left;
      }

    .footerTop1, .footerTop2 {
          padding: 10% 10px;
      }
    
    .footerCenter, .sns {
        list-style: none;
    }
    .footerCenter .cs {
        font-size: 15px;
        padding: 3px 20px;
    }
    .sharing {
        position:relative;
        padding-right: 50%;
    }
    

    #mobileFooter {
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            margin: 40px auto 40px;
    }
    .footer-element ul li {
        padding: 0 10px 0 30px;
        float: left;
        list-style: none;
        
    }
    .footerCenter li {
        /* width: 20%; */
        /* display: inline-block; */
        padding: 0;
        font-size: 11px;
        font-weight: 400;
    }
    .info_right {
        margin-left: 48%;
        position: relative;
    }
    
    .info_left {
        margin-left: -13%;
        margin-bottom: -47%;
    }
    .mobile_sns {
        margin-left: -13%;
        margin-top: 30px;
        margin-bottom: 17px;
    }
    .mobile_sns img {
        padding-right: 7px;
    }
    .mobileCS a {
        font-size: 7px;
    }
    .mobileCS {
        margin-left: -13%;
    }
    .bottomMenu {
        font-size: 11px;
        color: #888;
        margin-left: -13%;
        /* margin-top: 20px; */
    }
    
    .scrollToTop {
        margin-left: 10%;
        margin-bottom: -65%;
    }

    .cat img {
        width: 90px;
        height: 74px;
    }
}

/* 아이폰8 */
@media only screen and (min-width: 321px) and (max-width: 413px) {
    #mobileHeader {
        padding: 0;
        margin: 0;
        background-color: #E5E4E0;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        width: 100%;
        height: 100px;
    }
    .dropdown1, .dropdown2, .dropdown3, .dropdown4, .dropdown5, .dropdown6, .dropdown7, .dropdown8, .dropdown9, #left-menu, #footer, .proFooter, .container {
        display: none;
    }

    .player iframe{
        width: 350px;
        height: 215px;
        padding-top: 10%;
        padding-left: 14px;
    }

    .logo {
        position: fixed;
        cursor: pointer;
        margin-top: -1%;
        margin-left: 10%;
        /* width="225" height="25" */
    }
    .logo img {
        width: 225px;
        height: 25px;
    }
    #menu_btn {
        position: fixed;
        padding-left: 7%;
        margin-top: -4%;
        cursor: pointer;
    }
    #close_btn {
        position: absolute;
        padding-left: 70%;
        margin-top: -35px;
        cursor: pointer;
        display: none;
    }
    #search_icon {
        cursor: pointer;
        margin-top: 15px;
        margin-left: 10px;

    }
    #cart_icon {
        position: fixed;
        margin-left: 88%;
        margin-top: -4%;
        cursor: pointer;
        width: 24px;
        height: 24px;
    } 
    #statelogoff li {
        list-style: none;
        float: left;
        margin-left: 10px;
        font-size: 12.8px;
        font-weight: 400;
    }
    #statelogoff {
        margin-top: -15%;
        margin-left: 30%;
    }

    #store_menu li {
        list-style: none;
        font-weight: 600;
        border-bottom: 1px solid #111;
        width: 240px;
        line-height: 21px;
        padding: 12px 0;
        margin-left: -7%;
        
    }
    .category-blue {
        color: #154182;
    }
   

    #store_menu {
        padding-top: 4%;
    }
    nav {
        position: absolute;
        top: 0px;
        height: 830px;
        width: 290px;
        background: white;
        transform: translateX(-100%);
    }

    .images1 img, .images2 img, .images3 img, .images4 img, .images6 img, .images7 img, .images8 img, .images9 img, .images10 img, .images11 img, .images12 img {
        width: 110px;
        height: 110px;
        /* padding-left: 15px; */
        cursor: pointer;
        /* padding: 10px; */
        padding-left: 7px;
        padding-bottom: 30px;
    }
    .images3>.img9, .images4 img {
        width: 110px;
        height: 163px;
    }
    .images4 img:last-child {
        padding-bottom: 30px;
    }
    .images1 img {
        padding-top: 30px;
    }
    .images5 img {
        cursor: pointer;
        width: 360px;
        padding-left: 7px;
        padding-bottom: 30px;
    }
    
    .footerTop1 li, .footerTop2 li {
          list-style: none;
          float: left;
      }

    .footerTop1, .footerTop2 {
          padding: 10% 10px;
      }
    
    .footerCenter, .sns {
        list-style: none;
    }
    .footerCenter .cs {
        font-size: 15px;
        padding: 3px 20px;
    }
    .sharing {
        position:relative;
        padding-right: 50%;
    }
    #mobileFooter {
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            margin: 40px auto 40px;
    }
    .footer-element ul li {
        padding: 0 10px 0 30px;
        float: left;
        list-style: none;
        
    }
    .footerCenter li {
        /* width: 20%; */
        /* display: inline-block; */
        padding: 0;
        font-size: 11px;
        font-weight: 400;
    }
    .info_right {
        margin-left: 50%;
        position: relative;
    }
    
    .info_left {
        margin-left: -15%;
        margin-bottom: -47%;
    }
    .mobile_sns {
        margin-left: -15%;
        margin-top: 30px;
        margin-bottom: 17px;
    }
    .mobile_sns img {
        padding-right: 7px;
    }
    .mobileCS a {
        font-size: 7px;
    }
    .mobileCS {
        margin-left: -15%;
    }
    .bottomMenu {
        font-size: 11px;
        color: #888;
        margin-left: -15%;
        /* margin-top: 20px; */
    }
    .scrollToTop {
        margin-left: 10%;
        margin-bottom: -82%;
    }
    .cat img {
        width: 90px;
        height: 74px;
    }
}

/* 아이폰SE */
@media only screen and (max-width: 374px) {
    #mobileHeader {
        padding: 0;
        margin: 0;
        background-color: #E5E4E0;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        width: 100%;
        height: 100px;
    }
    .dropdown1, .dropdown2, .dropdown3, .dropdown4, .dropdown5, .dropdown6, .dropdown7, .dropdown8, .dropdown9, #left-menu, #footer, .proFooter, .container{
        display: none;
    }
    
    .player iframe{
        width: 305px;
        height: 205px;
        padding-top: 10%;
        padding-left: 8px;
    }
    .logo {
        position: fixed;
        cursor: pointer;
        margin-top: -2%;
        margin-left: 3%;
    }
    .logo img {
        width: 225px;
        height: 25px;
    }
    #menu_btn {
        position: fixed;
        padding-left: 5%;
        margin-top: -6%;
        cursor: pointer;
    }
    #close_btn {
        position: absolute;
        padding-left: 80%;
        margin-top: -11%;
        cursor: pointer;
        display: none;
    }
    #search_icon {
        cursor: pointer;
        margin-top: 15px;
        margin-left: 10px;

    }
    nav {
        position: absolute;
        top: 0px;
        height: 830px;
        width: 290px;
        background: white;
        transform: translateX(-100%);
    }
    #statelogoff li {
        list-style: none;
        float: left;
        margin-left: 10px;
        font-size: 12.8px;
        font-weight: 400;
    }
    #statelogoff {
        margin-top: -15%;
        margin-left: 30%;
    }

    #store_menu li {
        list-style: none;
        font-weight: 600;
        border-bottom: 1px solid #111;
        width: 240px;
        line-height: 21px;
        padding: 12px 0;
        margin-left: -7%;
        
    }
    .category-blue {
        color: #154182;
    }
   

    #store_menu {
        padding-top: 4%;
        position: fixed;
    }
    #cart_icon {
        position: fixed;
        margin-left: 88%;
        margin-top: -6%;
        cursor: pointer;
        width: 24px;
        height: 24px;
    } 

    .images1 img, .images2 img, .images3 img, .images4 img, .images6 img, .images7 img, .images8 img, .images9 img, .images10 img, .images11 img, .images12 img {
        width: 95px;
        height: 95px;
        /* padding-left: 15px; */
        cursor: pointer;
        /* padding: 10px; */
        padding-left: 5px;
        padding-bottom: 30px;
    }
    .images3>.img9, .images4 img {
        width: 95px;
        height: 143px;
    }
    .images4 img:last-child {
        padding-bottom: 30px;
    }
    .images1 img {
        padding-top: 30px;
    }
    .images5 img {
        cursor: pointer;
        width: 300px;
        padding-left: 7px;
        padding-bottom: 30px;
    }
    .lastMenu {
        width: 100px;
        height: 40px;
        font-size:20px;
        color: black;
        line-height: 50px;
        text-align: center;
        justify-content: center;
        background: white;
        border: solid 1px black;
        border-radius: 30px;
        cursor: pointer;
      }
    .footerTop1 li, .footerTop2 li {
          list-style: none;
          float: left;
      }

    .footerTop1, .footerTop2 {
          padding: 10% 10px;
      }
    
    .footerCenter, .sns {
        list-style: none;
    }
    .footerCenter .cs {
        font-size: 15px;
        padding: 3px 20px;
    }
    .sharing {
        position:relative;
        padding-right: 50%;
    }
    
    .menu_wrap li {
        color: black;
        font-size: 13px;
        list-style: none;
    }
    #mobileFooter {
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            margin: 40px auto 40px;
    }
    .footer-element ul li {
        padding: 0 10px 0 30px;
        float: left;
        list-style: none;
        
    }
    .footerCenter li {
        /* width: 20%; */
        /* display: inline-block; */
        padding: 0;
        font-size: 11px;
        font-weight: 400;
    }
    .info_right {
        margin-left: 48%;
        position: relative;
    }
    
    .info_left {
        margin-left: -17%;
        margin-bottom: -47%;
    }
    
    .mobile_sns {
        margin-left: -17%;
        margin-top: 30px;
        margin-bottom: 17px;
    }
    .mobile_sns img {
        padding-right: 7px;
    }
    .mobileCS a {
        font-size: 7px;
    }
    .mobileCS {
        margin-left: -17%;
    }
    .bottomMenu {
        font-size: 11px;
        color: #888;
        margin-left: -17%;
        /* margin-top: 20px; */
    }
    .scrollToTop {
        margin-left: 10%;
        margin-bottom: -92%;
    }
    .cat img {
        width: 90px;
        height: 70px;
    }
    
}